#error-modal {
  width: 400px;

  .modal-error-message {
    font-size: 1.2em;
  }

  .collapsible {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;
    box-shadow: none;

    .collapsible-header {
      background-color: inherit;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: none;

      &.active {
        border-bottom: 1px solid #ddd;
      }
    }

    .collapsible-body {
      border-bottom: none;
    }
  }
}
