/* Coolors Exported Palette - coolors.co/111111-aa9988-4c4845-f7f7ff-dbcdc6 */

$blackish: #111111; //rgba(17, 17, 17, 100)
$dark-tan: #aa9988; //rgba(170, 153, 136, 100)
$brown: #4c4845; //rgba(76, 72, 69, 100)
$whiteish: #f7f7ff; //rgba(247, 247, 255, 100)
$light-tan: #dbcdc6; //rgba(219, 205, 198, 100)
