<div class="container">
  <div class="section col s6 offset-s3">
    <h3 class="teal-text text-lighten-4 center-align">Loading</h3>
    <div class="progress">
      <div class="indeterminate"></div>
    </div>
  </div>
</div>
