<div class="github-fork-ribbon-wrapper right">
  <div class="github-fork-ribbon">
    <a href="https://github.com/babbtx/spiceworks-private-notes">Fork me on GitHub</a>
  </div>
</div>

<div id="index-title" class="parallax-container">
  <div class="row">
    <div id="index-title-box" class="col s10 offset-s1 m6 offset-m5">
      <h2 class="center-align"><strong>ScratchPad</strong></h2>
      <h4 class="center-align">Keep private notes in Spiceworks</h4>
    </div>
  </div>
  <div class="parallax">
    <%= image_tag("notepad.jpg", class: "responsive-img") %>
  </div>
</div>

<div id="index-body" class="container">
  <div class="section row">
    <p class="flow-text">
      Stop using Post-It&reg; Notes and other scraps of paper to keep quick-and-dirty
      notes and reminders during your IT day. Use ScratchPad to store your own private
      notes alongside your
      <a href="http://www.spiceworks.com" target="_blank">Spiceworks</a>-managed
      assets, devices, and help desk tickets!
    </p>
  </div>
  <div class="section row">
    <h4>About</h4>
    <p class="flow-text">
      ScratchPad is a fully-functional sample application built for the
      <a href="http://appcenter.spiceworks.com" target="_blank">Spiceworks App Center platform.</a>
    </p>
  </div>
  <div class="section row">
    <h4>Pricing</h4>
    <p class="flow-text">
      ScratchPad is 100% free!
    </p>
  </div>
  <div class="section row">
    <h4>Fork Me</h4>
    <p class="flow-text">
      Have ideas to improve ScratchPad or want to create a clone?
      <a href="http://developers.spiceworks.com" target="_blank">Learn about developing apps for Spiceworks</a>
      and
      <a href="https://github.com/babbtx/spiceworks-private-notes" target="_blank">fork this project on GitHub</a>!
    </p>
  </div>
</div>