<ul class="collapsible popout" data-collapsible="expandable">
  <li>
    <div class="collapsible-header">
      <div class="row">
        <div class="col s6">
          Welcome to ScratchPad!
        </div>
        <div class="col s6 right-align">
          Click to expand
        </div>
      </div>
    </div>
    <div class="demo container collapsible-body">
      <div class="section row">
        <p class="col s12 flow-text">
          You haven't created any notes yet! Head on over to Inventory or Help Desk
          and look for the "ScratchPad" tab. There you'll be able to
          keep your private notes alongside the devices or tickets you manage with Spiceworks.
        </p>
      </div>
    </div>
  </li>

  <li>
    <div class="collapsible-header">
      <div class="row">
        <div class="col s6">
          Features
        </div>
        <div class="col s6 right-align">
          Click to expand
        </div>
      </div>
    </div>
    <div class="demo container collapsible-body">
      <div class="section row">
        <div class="col s12">
          <h5>Secure private storage</h5>
        </div>
      </div>
      <div class="row">
        <p class="col s12 flow-text">
          Your notes are securely stored in the <a href="http://parse.com" target="_blank">Parse</a> cloud.
          They are only accessible by you.
        </p>
      </div>
      <div class="divider"></div>
      <div class="section row">
        <div class="col s12">
          <h5>Rich editor</h5>
        </div>
      </div>
      <div class="row">
        <div class="right col m6 s12">
          <img class="responsive-img" src="/images/screenshot.png">
        </div>
        <p class="col m6 s12 flow-text">
          Rich formatting is supported in the notes editor. Just use CTRL+B and other hotkeys,
          or highlight the text and format using the floating toolbar.
        </p>
      </div>
    </div>
  </li>
</ul>

