<div class="container">
  <% if (count > 0) { %>
  <h5 class="body-title">Your <%- count %> Most Recent Notes</h5>
  <ul class="section collapsible popout" data-collapsible="expandable"></ul>
  <% } else { %>
  <h5 class="body-title">Your Most Recent Notes</h5>
  <ul class="section"></ul>
  <% } %>
</div>